%ul.overview
  %li
    &raquo;
    Transfer any Creative Commons licensed project
    into an open wiki collaboration framework
  %li
    &raquo;
    Others can copy the project,
    contribute ideas and suggest improvements
  %li
    &raquo;
    The project acts as an idea seed, giving birth
    to trees of remixes, spreading through
    communities and trust networks

.open
  .action
    Enter a project URL
  %div
    = semantic_form_for @fork do |f|
      -#%div
      = f.semantic_errors
      -#%div
      = f.text_field :url, :class => "big", :placeholder => 'www.change-the-world.org', :value => ('http://en.wikipedia.org/wiki/Technological_singularity' if form_pre_filled?)
      -#%div
      -#  %input{:type => 'text', :name => 'username', :class => "", :placeholder => 'Your name', :value => ('John Q. Public' if form_pre_filled?)}
      -#%div
      -#  %input{:type => 'text', :name => 'topic', :class => "", :placeholder => 'Topic: help categorize this content for yourself and others', :value => ('Singularity' if form_pre_filled?)}
      -#%div
      = f.submit 'Open Now', :class => 'big'
      %div

    -#%form{:method => 'post', :action => "/"}
      %div
        = error_messages_for(@fork)
        - # user = stub(:class => "User", :errors => stub(:full_messages => ["1", "2"], :none? => false), :blank? => false)
        - # actual_html = error_messages_for(user)
